#woobits-waitlist-container {
    display: flex;
    flex-direction: column;
}

#woobits-waitlist-container .email-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#woobits-waitlist-container .checkbox-group {
    display: flex;
    justify-content: start;
}

#woobits-waitlist-container .field-msg {
    display: none;
}

#woobits-waitlist-container .show {
    display: block;
}

#woobits-waitlist-container .error {
    color: rgba(255, 0, 0, 0.623);
}

#woobits-waitlist-container .success {
    color: rgba(0, 128, 0, 0.774);
}